@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("love\ you.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
}

h1 {
	color: #FFF;
	font-weight: normal;
	font-size: 60px;
	margin: -150px 0 40px;
}

.countdown {
	display: flex;
	transform: scale(2);
}

.time {
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 15px;
}

.time h2 {
	color: #FFF;
	font-weight: bold;
	font-size: 36px;
	line-height: 1;
	margin: 0 0 5px;
}

@media (max-width: 500px) {
	h1 {
		font-size: 45px;
	}
	.time {
		margin: 5px;
	}

	.time h2 {
		font-size: 12px;
		margin: 0;
	}

	.time small {
		font-size: 10px;
	}
}
